*.a
*.la
*.lo
*.loT
*.o
*.so
*.tmp
*~
.*.swp
.cproject
.project
/Makefile
/config.h
/config.log
/config.status
/design-data/Makefile
/doc/Makefile
/examples/.deps
/examples/.libs
/examples/Makefile
/examples/doesnothing
/libical.pc
/libtool
/scripts/Makefile
/src/Makefile
/src/libical/.deps
/src/libical/.libs
/src/libical/Makefile
/src/libical/ical.h
/src/libical/icalderivedparameter.c
/src/libical/icalderivedparameter.h
/src/libical/icalderivedproperty.c
/src/libical/icalderivedproperty.h
/src/libical/icalderivedvalue.c
/src/libical/icalderivedvalue.h
/src/libical/icalrestriction.c
/src/libical/icalversion.h
/src/libicalss/.deps/
/src/libicalss/.libs/
/src/libicalss/Makefile
/src/libicalss/icalss.h
/src/libicalvcal/.deps/
/src/libicalvcal/.libs/
/src/libicalvcal/Makefile
/src/python/.deps/
/src/python/Makefile
/src/test/.deps/
/src/test/Makefile
/stamp-h1
/test-data/Makefile
/zoneinfo/Makefile
TAGS
